* {
    padding: 0;
    margin: 0;
}

.hero {
    height: 70vh;
    background-image: url("../images/Nikola\ Timotic\ -\ banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &-filter {
        background-color: rgba($color: #000000, $alpha: 0.6);
    }
}

.maecenas,
.susspendise {
    &-picture img {
        border-radius: 50%;
        padding: .3rem;
    }

    &-content .btn {
        width: fit-content;
    }
}

.aliquam {
    img {
        border-radius: 50%;
        padding: .3rem; 
        width: 270px;
    }
}

.social-media-item {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid #888;
}